@charset "UTF-8";

@use "vendor/normalize";
@import "abstract/variables";
@import "abstract/mixins";
@import "abstract/layout";
@import "micro-modules/input";
@import "micro-modules/buttons";
@import "micro-modules/links";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html {
    scrollbar-width: thin;
    -ms-overflow-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "OpenSans", sans-serif;
    color: $default-text-color;
}

::-webkit-scrollbar {
    width: 0;
    -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(47, 46, 46, 0.2);
    border: 3px solid #fbf6f6;
    border-radius: 8px;
}

a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: inherit;
}

.wrapper {
    width: calc(100% - 54px * 2);
    margin: auto;
}

.no-wrap {
    white-space: nowrap;
}

.overflow-hidden {
    overflow: hidden;
}

.select {
    position: relative;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: calc(100% - 20px * 2);
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        width: calc(100% - 12px * 2);
    }
}
