// color
$default-text-color: rgb(55, 58, 60);
$default-btns-color: rgb(239,239,239);
$default-error-color: #d93c3c;
$default-success-color: #206d10;
$default-text-color-lighter: rgb(84, 84, 84);
$link-active-color: #0883a5;

// layout
$col-xxl-min: 1400px;

$col-xl-max: 1399px;
$col-xl-min: 1200px;

$col-l-max: 1199px;
$col-l-min: 992px;

$col-m-max: 991px;
$col-m-min: 768px;

$col-s-max: 767px;
$col-s-min: 576px;

$col-xs-max: 575px;

// header
$header-xl-height: 100px;
$header-l-height: 100px;
$header-m-height: 100px;
$header-s-height: 100px;
$header-xs-height: 100px;
